<!DOCTYPE html>
<html>
	<head>
		<title>Fake_HSR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
.block{
	display: none;
}
</style>
	</head>
	<body>
		<main class = "main">
			<div class="infobox">
				<h1>Cards</h1>
				<form role="form" method='POST' action='/match'>
					<div class="form-group">
						<label for="winner id"> Winner: </label>
						<select name="winner id" id="winner id" onchange="get_desk(this, 'winner desk id')">
							<option value="">- winner -</option>
							{% for player in players %}
							<option value={{player["player id"]}}>{{player["player name"]}}</option>
							{% endfor %}
						</select>
						<br/>
						<div class="block"> 
							<label for="winner desk id"> Winner desk: </label>
							<select name="winner desk id" id="winner desk id">
							</select>
						</div>
						<label for="loser id"> Loser: </label>
						<select name="loser id" id="loser id" onchange="get_desk(this, 'loser desk id')">
							<option value="">- loser -</option>
							{% for player in players %}
							<option value={{player["player id"]}}>{{player["player name"]}}</option>
							{% endfor %}
						</select>
						<br/>
						<div class="block"> 
							<label for="loser desk id"> Loser desk: </label>
							<select name="loser desk id" id="loser desk id">
							</select>
						</div>
						<label for="round"> round: </label>
						<input type="text" name="round" id="round"/>
					</div>
					<input type="reset" />
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<br>
			</div>
		</main>
		{% if info %}
		<div class="info-box" data-role="infobox">
			<span class="button square closer"></span>
			<div class="info-box-content">
				{{ info }}
			</div>
		</div>
		{% endif %}
		<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript">
function get_desk(obj, relate){
	var idx = $(obj).val();
	var relate = document.getElementById(relate);
	$(relate).val('').trigger('change');
	$(relate).empty().append('<option value="" >- ' + relate.id + ' -</option>');
	if (idx == '') {
		relate.parentNode.style.display= "none"
		return;
	}
	$.ajax({
		url: "get_player_desk/"+String(idx), 
		success: function(desk){
			for (var x in desk)
				$(relate).append('<option value=' + desk[x]["id"] + ">" + desk[x]["name"] + ' </option>')
			var par = relate.parentNode
			par.style.display='block';
		},
		dataType: "json"
	});
}
		</script>
	</body>
</html>
